<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="https://pathmind.com"><img src="/images/pathmind/logo/pathmind_white.png" alt=""></a>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
				</div>
				<div class="collapse navbar-collapse" id="main-navbar">
					<a href="/" class="btn btn-warning pull-right hidden-sm hidden-xs">AI Wiki</a>
						<ul class="nav navbar-nav navbar-right">
								<!-- <li><a href="#why">Why Reinforcement Learning</a></li>
								<li><a href="#howitworks">How It Works</a></li>
								<li><a href="#preview">Preview</a></li> -->
						</ul>
				</div>
		</div>
</nav>
